<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form [formGroup]="productForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4" (ngSubmit)="onSubmit()">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <div>
      <input type="text" placeholder="Título" class="input input-bordered w-full" formControlName="title"
        [class.border-red-500]="productForm.get('title')?.errors ?? false" />
      <form-error-label [control]="productForm.get('title')!"></form-error-label>
    </div>
    <div>
      <input [class.border-red-500]="productForm.get('slug')?.errors ?? false" formControlName="slug" type="text"
        placeholder="Slug" class="input input-bordered w-full" />
      <form-error-label [control]="productForm.get('slug')!"></form-error-label>
    </div>
    <div>
      <textarea formControlName="description" class="textarea textarea-bordered" placeholder="Descripción" rows="6"
        [class.border-red-500]="productForm.get('description')?.errors ?? false"></textarea>
      <form-error-label [control]="productForm.get('description')!"></form-error-label>
    </div>
    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <input formControlName="price" type="number" placeholder="Precio" class="input input-bordered w-full"
          [class.border-red-500]="productForm.get('price')?.errors ?? false" />
        <form-error-label [control]="productForm.get('price')!"></form-error-label>
      </div>
      <div>
        <input formControlName="stock" type="number" placeholder="Inventario" class="input input-bordered w-full"
          [class.border-red-500]="productForm.get('stock')?.errors ?? false" />
        <form-error-label [control]="productForm.get('stock')!"></form-error-label>
      </div>
    </div>

    <!-- tags -->
    <div>
      <input [class.border-red-500]="productForm.get('tags')?.errors ?? false" formControlName="tags" type="text"
        placeholder="Tags" class="input input-bordered w-full" />
      <form-error-label [control]="productForm.get('tags')!"></form-error-label>
    </div>

    <!-- Botones para el género -->
    <div class="grid grid-cols-4 gap-2">
      <button type="button" class="btn btn-sm" [class.btn-primary]="productForm.get('gender')?.value === 'men'"
        (click)="setGender('men')">Masculino</button>
      <button type="button" class="btn btn-sm" [class.btn-accent]="productForm.get('gender')?.value === 'women'"
        (click)="setGender('women')">Femenino</button>
      <button type="button" class="btn btn-sm" [class.btn-warning]="productForm.get('gender')?.value === 'kid'"
        (click)="setGender('kid')">Niño</button>
      <button type="button" class="btn btn-sm" [class.btn-secondary]="productForm.get('gender')?.value === 'unisex'"
        (click)="setGender('unisex')">Unisex</button>
    </div>

    <!-- <select class="select select-bordered w-full">Z
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button class="btn btn-sm" [class.btn-accent]="productForm.get('sizes')?.value?.includes(size)" type="button"
        (click)="onSizeClick(size)">{{ size }}</button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>

    <product-carousel [images]="imagesToCarousel()" />

    <input type="file" multiple accept="image/*" class="file-input file-input-bordered w-full mt-4" (change)="onFileChange($event)" />
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-2">
      @for (image of tempImages(); track image) {
        <img [src]="image" alt="Imagen temporal" class="w-full object-cover rounded-xl" />
      }
    </div>
  </div>
</form>

@if(wasSaved()) {
  <div class="alert alert-success fixed bottom-4 right-4 w-80 animate-faceIn">
    <span>Datos guardados correctamente</span>
  </div>
}